<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="GpScanner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<userSettings>
		<GpScanner.Properties.Settings>
   <setting name="DefaultTtsLang" serializeAs="String">
    <value/>
   </setting>
   <setting name="DefaultLang" serializeAs="String">
    <value>TÜRKÇE</value>
   </setting>
   <setting name="PatchCodes" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
    </value>
   </setting>
   <setting name="DatabaseFile" serializeAs="String">
    <value/>
   </setting>
   <setting name="DefaultThumbNailDpi" serializeAs="String">
    <value>36</value>
   </setting>
   <setting name="ButtonScanMode" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="IsFirstRun" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="WatchFolderPdfFileChange" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="PreviewIndex" serializeAs="String">
    <value>0</value>
   </setting>
  </GpScanner.Properties.Settings>
	</userSettings>
</configuration>
