<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GpScanner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <GpScanner.Properties.Settings>
      <setting name="DefaultTtsLang" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultLang" serializeAs="String">
        <value>TÜRKÇE</value>
      </setting>
      <setting name="DatabaseFile" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultThumbNailDpi" serializeAs="String">
        <value>36</value>
      </setting>
      <setting name="ButtonScanMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IsFirstRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PreviewIndex" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="SelectedFtp" serializeAs="String">
        <value />
      </setting>
      <setting name="RegisterBatchWatcher" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BatchFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="DirectOpenEypFile" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DirectOpenPdfFile" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DirectOpenUdfFile" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DirectlyOverwriteCompressedPdf" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ProcessorCount" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SharePointUrl" serializeAs="String">
        <value />
      </setting>
      <setting name="SharePointLibraryName" serializeAs="String">
        <value />
      </setting>
      <setting name="SharePointUserName" serializeAs="String">
        <value />
      </setting>
      <setting name="SharePointUserPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="CheckAppUpdate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UpdateInterval" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="LastCheckDate" serializeAs="String">
        <value />
      </setting>
      <setting name="ContributionIsImageMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NotifyCalendar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NotifyCalendarDateValue" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="AnimationType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PdfBatchCompress" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PatchCodes" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
        </value>
      </setting>
      <setting name="FtpSites" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
        </value>
      </setting>
      <setting name="BatchSaveFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="CurrentTranslateLanguage" serializeAs="String">
        <value>auto</value>
      </setting>
      <setting name="DestinationTranslateLanguage" serializeAs="String">
        <value>en</value>
      </setting>
      <setting name="ShowMagnifier" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MagnifyValue" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="ThumbMultipleOcrEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FastSimplePdfThumbViewer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowPdfInfo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BackUpDatabase" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MinimizeTray" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StartupMessage" serializeAs="String">
        <value />
      </setting>
    </GpScanner.Properties.Settings>
  </userSettings>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6, Version=1.0.118.0, Culture=neutral" />
			<provider invariantName="System.Data.SQLite" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6, Version=1.0.118.0, Culture=neutral" />
		</providers>
	</entityFramework>
	<system.data>
		<DbProviderFactories>
			<remove invariant="System.Data.SQLite" />
			<add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.118.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
			<remove invariant="System.Data.SQLite.EF6" />
			<add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".Net Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6, Version=1.0.118.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
		</DbProviderFactories>
	</system.data>
</configuration>