<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocX" version="2.4.0" targetFramework="net46" />
  <package id="Microsoft.SharePoint.Client" version="14.0.4762.1000" targetFramework="net46" />
  <package id="PdfiumViewer.Native.x86.no_v8-no_xfa" version="2018.4.8.256" targetFramework="net46" />
  <package id="PdfiumViewer.Updated" version="2.14.4" targetFramework="net46" />
</packages>