<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bblanchon.PDFium.Win32" version="124.0.6365" targetFramework="net472" />
  <package id="DocX" version="3.0.0" targetFramework="net472" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="Microsoft.SharePoint.Client" version="14.0.4762.1000" targetFramework="net46" />
  <package id="PdfiumViewer.Updated" version="2.14.4" targetFramework="net46" />
  <package id="PDFsharp-wpf" version="1.51.5185-beta" targetFramework="net472" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.118.0" targetFramework="net472" />
  <package id="System.Data.SQLite" version="1.0.118.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.118.0" targetFramework="net472" />
  <package id="System.Data.SQLite.EF6" version="1.0.118.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Linq" version="1.0.118.0" targetFramework="net472" />
</packages>