<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="TwainControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<TwainControl.Properties.Settings>
   <setting name="Çözünürlük" serializeAs="String">
    <value>200</value>
   </setting>
   <setting name="AutoFolder" serializeAs="String">
    <value />
   </setting>
   <setting name="Adf" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ShowFile" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Mode" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="DateGroupFolder" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="PreviewWidth" serializeAs="String">
    <value>120</value>
   </setting>
   <setting name="Profile" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
    </value>
   </setting>
   <setting name="DefaultProfile" serializeAs="String">
    <value />
   </setting>
   <setting name="EmptyThreshold" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="UseSelectedProfile" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ImgLoadResolution" serializeAs="String">
    <value>200</value>
   </setting>
   <setting name="JpegQuality" serializeAs="String">
    <value>80</value>
   </setting>
   <setting name="DefaultPictureResizeRatio" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="BackMode" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="FolderDateFormat" serializeAs="String">
    <value>d.MM.yyyy</value>
   </setting>
   <setting name="RemoveProcessedImage" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="BwThreshold" serializeAs="String">
    <value>160</value>
   </setting>
   <setting name="DirectRemoveImage" serializeAs="String">
    <value>True</value>
   </setting>
  </TwainControl.Properties.Settings>
	</userSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
	</startup>
</configuration>
