<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bblanchon.PDFium.Win32" version="136.0.7073" targetFramework="net472" />
  <package id="DocX" version="4.0.25105.5786" targetFramework="net472" />
  <package id="ExcelDataReader" version="3.7.0" targetFramework="net472" />
  <package id="ExcelDataReader.DataSet" version="3.7.0" targetFramework="net472" />
  <package id="JBig2Decoder.NET" version="1.0.3" targetFramework="net472" />
  <package id="PdfiumViewer.Updated" version="2.14.5" targetFramework="net472" />
  <package id="PDFsharp-wpf" version="1.51.5185-beta" targetFramework="net46" />
  <package id="SevenZipExtractor" version="1.0.19" targetFramework="net472" />
  <package id="SharpCompress" version="0.24.0" targetFramework="net472" />
  <package id="WPFCap" version="1.2.0" targetFramework="net46" />
</packages>