<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="PdfiumViewer" version="2.13.0.0" targetFramework="net46" />
  <package id="PdfiumViewer.Native.x86.no_v8-no_xfa" version="2018.4.8.256" targetFramework="net46" />
  <package id="PDFsharp-wpf" version="1.51.5185-beta" targetFramework="net46" />
  <package id="WPFCap" version="1.2.0" targetFramework="net46" />
</packages>